n8n_sns_affiliate/n8n_workflow.json
{
  "name": "特化型SNSアカウント＆アフィリエイト半自動化",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6,12,18 * * *"
            }
          ]
        }
      },
      "id": "e2f4f248-c316-433b-814d-fa3e20011a68",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/"
      },
      "id": "278c5208-16e5-42f5-bbdb-52bf89ee60e8",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        440,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "id": "848e0d49-43c3-42e5-a070-cb41c2c3132e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "あなたは優秀なSNSマーケターです。以下のニュースを元に、X(Twitter)向けの魅力的な投稿文（140字以内）を作成してください。最後に必ず感想を1行入れてください。\n\nタイトル: {{ $json.title }}\nURL: {{ $json.link }}"
            }
          ]
        }
      },
      "id": "673f3249-16e3-4670-bbbd-be77e0b51079",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        880,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AKQuY8swWLQjSjV-5A5o0cejtI7WBQ-j6K4GIoj9W7M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Title": "={{ $('If').item.json.title }}",
            "URL": "={{ $('If').item.json.link }}",
            "Post_Draft": "={{ $json.text }}"
          }
        },
        "options": {}
      },
      "id": "0d9cbaee-bfa7-4a11-bd23-51b88dfdcdcf",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1100,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9c9b4e3-85f2-4bd5-a3d8-e1cbed1e8ec5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "workflow-001",
  "tags": []
}